.container {
  background-color: #282c34;
  text-align: center;
}
h1 {
  color: #61dafb;
}

h2 {
  color: #fff;
  background-color: #20232a;
  padding: 0.8rem;
}

img {
  border-radius: 100px;
  margin: 20px 0;
  width: 500px;
}

button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-style: oblique, bold;
  font-weight:300;
  color:#20232a;
  background-color:#61dafb;
  text-align:center;
  }